.container {
    height: 130px;
    flex-wrap: wrap;
}

.flex-start .item, .flex-end .item, .center .item, .stretch .item {
    flex: 1;
}

.flex-start {
    align-content: flex-start;
}

.flex-end {
    align-content: flex-end;
}

.center {
    align-content: center;
}

.stretch {
    align-content: stretch;
}

.space-between {
    width: 300px;
    align-content: space-between;
}

.space-around {
    width: 300px;
    align-content: space-around;
}

.space-evenly {
    width: 300px;
    align-content: space-evenly;
}
