* {
  margin: 0;
  padding: 0;
}

.elemento {
  color: white;
  font-size: 32px;
  width: 250px;
  height: 250px;
  text-align: center;
  margin-bottom: 20px;
}

.elemento-estatico {
  position: static;
  background-color: crimson;
}

.elemento-relativo {
  position: relative;
  background-color: coral;
  left: 100px;
}

.elemento-absoluto {
  position: absolute;
  background-color: darkcyan;

}

.elemento-absoluto-com-filho {
  position: absolute;
  background-color: blueviolet;
  width: 150px;
  height: 150px;
  right: 0;
  top: 0;
}

.elemento-relativo-com-pai {
  position: relative;
  background-color: chartreuse;
  width: 350px;
  height: 350px;
}
