
.flex {
    display: flex;
    width: 810px;
    max-width: 100%;
   flex-wrap: wrap;
}

.flex img {
    max-width: 100%;
}
.coluna {
    display: flex;
    flex-direction: column;
    margin: 10px;
   flex: 0 1 250px;
   background-color: aquamarine;
}

.coluna .botao {
    align-self: flex-start;
    margin-top: auto;
    
}

